<div class="container spacer">
  <div class="panel panel-default">
    <div class="panel-heading">Saisie d'un contact</div>
    <div class="panel-body">
      <form #f="ngForm" (ngSubmit)="onSaveContact(f.value)">
        <div class="form-group">
          <label class="control-label">Nom :</label>
          <input class="form-control" required type="text" ngModel name="nom"/>
        </div>
        <div class="form-group">
          <label class="control-label">Prénom :</label>
          <input class="form-control" required type="text" ngModel name="prenom"/>
        </div>

        <div class="form-group">
          <label class="control-label">Date de Naissance :</label>
          <input class="form-control" required type="date" ngModel name="dateNaissance"/>
        </div>
        <div class="form-group">
          <label class="control-label">Email :</label>
          <input class="form-control" required email type="email" ngModel name="email"/>
        </div>
        <div class="form-group">
          <label class="control-label">Tél :</label>
          <input class="form-control" required type="text" ngModel name="tel"/>
        </div>
        <div class="form-group">
          <label class="control-label">Photo :</label>
          <input class="form-control" required type="text" ngModel name="photo"/>
        </div>
        <button type="submit" [disabled]="!f.valid" class="btn btn-primary">Save</button>
      </form>

    </div>
  </div>

</div>
